@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<div class="text-center mt-2">
    <h1 class="display-4">Recipe Search Engine</h1>
</div>

<div class="block mt-5">
    <div class="row m-3">
        <div class="col-9">
            <input id="queryTerm" class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary mb-3" onclick="search()">Search</button>
        </div>
    </div>
</div>
<hr />
<div id="spinner" class="d-flex justify-content-center hide">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="expandQuery" class="row justify-content-end hide">
    <button type="submit" class="btn btn-primary mb-3" style="right:0;" onclick="expandQuery()">Expand Query</button>
</div>
<div class=" row mt-5">
    <div id="searchResult" class="col">

    </div>
</div>

<div id="pagination_btm" class="row justify-content-center hidden">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item active p_1"><a class="page-link" onclick="changePage(1)">1</a></li>
            <li class="page-item p_2"><a class="page-link" onclick="changePage(2)">2</a></li>
            <li class="page-item p_3"><a class="page-link" onclick="changePage(3)">3</a></li>
            <li class="page-item p_4"><a class="page-link" onclick="changePage(4)">4</a></li>
            <li class="page-item p_5"><a class="page-link" onclick="changePage(5)">5</a></li>
        </ul>
    </nav>
</div>