@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<div class="text-center mt-2">
    <h1 class="display-4">Recipe Search Engine</h1>
</div>

<div class="block mt-5">
    <div class="row m-3">
        <div class="col-9">
            <input id="queryTerm" class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary mb-3" onclick="search()">Search</button>
        </div>
    </div>
</div>
<hr />
<div class=" row mt-5">
    <div id="searchResult" class="col">

    </div>
</div>